<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<style>
/* Index page */

:root {
  --highlight: none;
  --cover-text-color: white;
  --section-dark-bg-color: #52647b;
  --highlight-inverse: none;
  --swiper-navigation-sides-offset: 0px;
}

img {
     /* don't stretch images */
     height: auto;
}

blockquote {
     margin: 1em 1.5em 1em 1.5em;
}

audio {
     /* margin-left: 10px; */
     margin-top: 2px;
     margin-bottom: 6px;
     vertical-align: middle;
     height: 36px;
     opacity: 80%;
}

#site-head {
  background: black no-repeat center center;
}

#site-head-content {
     /* padding-top: 18%; */
     padding-top: 480px;
     width: 100%;
     max-width: none;
}

#language-menu {
     position:absolute;
     right: 15px;
     top: 10px;
     color: white;
     mix-blend-mode: difference;
}

#site-head .back-button {
     position:absolute;
     left: 15px;
     top: 10px;
     color: white;
     mix-blend-mode: difference;
}

/* navigation menu has z-index 9999 which appears on top of gallery. lower it a bit  */
.fixed-nav {
     z-index: 999;
}

a.btn {
  font-family: "Roboto", sans-serif !important;
  font-weight: normal !important;
  font-size: 18px !important;

  /* the transparent border creates a smoother effect (no pixel movements) and
   * solves a weird firefox bug that affects the anchor */
  border: 1px solid transparent;
}

/* for the cover buttons */
a.btn:hover {
  border: 1px solid white;
}

.post-content {
     text-align: justify;
     hyphens: auto;
}

.post-content :is(h1, h2, h3, h4, h5, h6), .no-justify {
     text-align: left;
}

/* Inner pages */
.page-template {
  background: #f2efe8;
}

.page-template hr {
  border-top: 1px solid #3a4145;
  margin: 3.2em 0;
}

.page-template p:has(.logo) {
  text-align: left;
}

.page-template .logo {
  display: inline;
  margin-right: 10px;
  vertical-align: middle;
}

.page-template .post-header {
     padding: 0 0 15px;
}

/* Auto resize embeded youtube videos while preserving the aspect ratio */
.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* This removes a margin inserted on small screens, which creates an annoying horizontal scrolling */
.inner {
     margin-left: 0;
}

/* screen.css replaces the standard bullets with an asterisk. We undo this here */
li {
  margin-left: 5px;
  padding-left: 5px;
}

ul li {
  list-style-type: initial;
}

.fa-asterisk::before {
  content: "";
  /* content: "\2022"; */        /* Use bullet instead of asterisk */
}

/* font-awesome: center and constant width */
.fa {
     width: 1em;
     margin-right: 5px;
     text-align: center;
}

/* pdf icon in lists */
.pdf-icon {
     content:url("/images/pdf.png");
     display: inline !important; /* override .postcontent img */
     position: relative;
     width: 28px;
     top: 7px;
     left: 10px;
     padding-right: 10px;
}

.subheading {
     font-size: large;
     margin-left: 10px;
     vertical-align: middle;
}

/* footer */
.site-footer .inner {
     margin-left: auto;
}
.site-footer section {
     display: inline;
}

/* show play button in video gallery */
.play-button {
     position: relative;
     display: inline-block;
}
.play-button:before {
     position:absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     content: "\f04b";
     font-family: ForkAwesome;
     font-size: 80px;
     color: #fff;
     opacity: .4;
     text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.play-button:hover:before {
     opacity: .6;
}

/**************************** Swiper carousel ***************************************/
/* make all carousel slides same height, without changing aspect ratio */
.swiper-slide {
     height: auto !important;
}
.swiper-slide img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

/* swipper button shadow for visibility in both dark/light images */
.swiper-button-next,
.swiper-button-prev {
     color: white !important;
     text-shadow: 2px 0 darkslategray;

     /* change --swiper-navigation-sides-offset from 10px to 0px and replace it with padding.
        this keeps the buttons at the same position, but with a larger clickable area. */
     padding: 10px;
}

/* swiper sets pointer-events: none for the _disabled_ next/prev buttons (the ones on the last/first slide.
   This causes clicks to be caught by the underlying <a>, which is confusing. We set it to auto
   so that clicks are caught */
.swiper-button-disabled {
     pointer-events: auto !important;
}
/*************************************************************************************/

</style>

<script>
// Used by the image/video gallery shortcodes to run code after the dependencies are loaded
var __galleryInit = [];
function galleryInit(cb) {
     __galleryInit.push(cb);
}
</script>

{{ template "_internal/google_analytics.html" . }}
