{{/* Includes are loaded conditionally in custom_body.html */}}

{{- $id := print (.Get "id" | default "gallery") "-container" -}}
{{- $row_height := .Get "row_height" | default 150 -}}
{{- $max_row_height := cast.ToInt (mul $row_height 1.5) -}}{{/* 50% tolerance, to cover edge cases */}}

{{- $images := slice -}}
{{ range split ($.Get "assets") "\n" }}
  {{ $images = union $images (resources.Match (trim . "\r\t "))  }}
{{ end }}

{{- if .Get "shuffle" -}}
  {{- $images = shuffle $images -}}
{{- end -}}

<div id="{{ $id }}" class="image-gallery fj-gallery">
  {{ range $images }}
    {{- $image := . -}}
    {{- $webp := $image.Resize (printf "%dx%d q90 photo webp" $image.Width $image.Height) -}}
    {{- $thumb := $webp -}}
    {{- if gt $thumb.Height $max_row_height -}}
      {{- $thumb = $image.Resize (printf "x%d q90 photo webp" $max_row_height) -}}
    {{- end -}}

    <a href="{{ $webp.RelPermalink }}"
      class="fj-gallery-item"
      data-lg-size="{{ $webp.Width }}-{{ $webp.Height }}"
      data-download-url="{{ $image.RelPermalink }}">
      <img loading="lazy" src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" />
    </a>
  {{ end }}
</div>
<br>

<script type="text/javascript">
galleryInit(() => {
  fjGallery(document.querySelectorAll('#{{ $id }}'), {
    itemSelector: '.fj-gallery-item',
    rowHeight: {{ $row_height }},
    gutter: 1,
    // transitionDuration: "4s",
    rowHeightTolerance: 0.3,
    onInit: () => {
      lightGallery(document.getElementById('{{ $id }}'), {
        selector: 'a',
        plugins: [lgZoom, /* lgThumbnail, */ lgShare],
        speed: 500,
      })
    },
  })
})
</script>
