{{/* Includes are loaded conditionally in custom_head.html */}}

{{- $id := print (.Get "id" | default "video-gallery") "-container" -}}
{{- $row_height := .Get "row_height" | default 150 -}}
{{- $max_row_height := cast.ToInt (mul $row_height 1.5) -}}{{/* 50% tolerance, to cover edge cases */}}

<div id="{{ $id }}" class="image-gallery fj-gallery">
  {{ range split (.Get "video_ids") "," }}
    {{- $video_id := . }}
    {{- $image := "" }}
    {{- $data_src := "" }}

    {{/* vimeo has numeric ids, youtube has alphanumeric (support also &t=...) */}}
    {{- if findRE `[^0-9]` $video_id }}
      {{/* youtube */}}
      {{- $data_src = printf "//www.youtube.com/watch?v=%s" $video_id -}}

      {{/* Get the highest quality thumbnail available, and crop to 16:9 */}}
      {{- range slice "maxresdefault" "maxres" "sd" "hq" "mq" -}} 
        {{- with resources.GetRemote (printf "https://img.youtube.com/vi/%s/%sdefault.jpg" (replaceRE "&.*" "" $video_id) .) -}}
          {{- $height := cast.ToInt (mul .Width 0.5625) -}}
          {{- $image = .Crop (printf "%dx%d center" .Width $height) -}}
          {{- break -}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{/* vimeo */}}
      {{- $data_src = printf "//vimeo.com/%s" $video_id -}}
      {{- $image = resources.GetRemote (printf "https://vumbnail.com/%s.jpg" $video_id) -}}
    {{- end -}}

    {{- if not $image -}}
      {{- errorf (printf "no thumbnail found for %s" $video_id) -}}
    {{- end -}}
    {{- $webp := $image.Resize (printf "%dx%d q90 webp" $image.Width $image.Height) -}}
    {{- $thumb := $webp -}}
    {{- if gt $thumb.Height $max_row_height -}}
      {{- $thumb = $image.Resize (printf "x%d q90 webp" $max_row_height) -}}
    {{- end -}}

    <a href="#" class="fj-gallery-item play-button"
        data-lg-size="1920-1080"
        data-src="{{ $data_src }}"
        data-poster="{{ $webp.RelPermalink }}"
    >
      <img loading="lazy" src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" />
    </a>
  {{ end }}
</div>
<br>

<script>
galleryInit(() => {
  fjGallery(document.querySelectorAll('#{{ $id }}'), {
    itemSelector: '.fj-gallery-item',
    rowHeight: {{ $row_height }},
    gutter: 1,
    // transitionDuration: "4s",
    rowHeightTolerance: 0.3,
    onInit: () => {
      lightGallery(document.getElementById('{{ $id }}'), {
        selector: 'a',
        plugins: [lgVideo, /* lgThumbnail */, lgShare],
        speed: 500,
        youTubePlayerParams: {
          mute: 0,
          rel: 0,
        },
        vimeoPlayerParams: {
          muted: 0,
          title: 0,
          portrait: 0,
          like: 0,
          byline: 0,
        },
      })
    },
  })
})
</script>
